<div class='intro'>
  <img src='/images/about/profile.png' alt='Diego Rodriguez Mancini' class='no-border'/>
  <h1>
    <span class="gray">Diego</span>
    <span class="black">Rodriguez Mancini</span>
  </h1>
  <p>Software Engineer</p>
</div>

<div class='nav'>
<ul>
<li><a href='/'>Blog</a>.</li>
<li><a href='http://gitlab.com/dirodriguezm'>GitLab</a>.</li>
<li><a href='http://github.com/dirodriguezm'>Github</a>.</li>
</ul>
</div>
